<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    {% include 'authentication/navbar.html' %}
    <div class="card text-center">
        <br>
        <div class="card-body">
          <h5 class="card-title">Welcome to our app</h5>
    <h3>Reset your password</h3>
    <form method="POST">
        {% csrf_token %}
        <label for="new_password" class="col-auto">New Password:</label>
        <input type="password" name="new_password" id="new_password" class="col-form-label" required>
        <br> <br>
        <label for="confirm_password" class="col-auto">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" class="col-form-label" required>
        <br> <br>
        <button class="btn btn-primary" type="submit">Reset Password</button>
    </form>
</div>
</div>
</body>
</html>
